@charset "utf-8";
body{
	background-color:#FFC;
}
p{
	display:inline;
	margin-left:10px;
}
#id_export{
	float:right;
	margin-right: 20px;
}
#id_export:hover{
	background-color:#CCC;
}
#id_log_out{
	float:right;
	margin-right: 10px;
}
#id_log_out:hover{
	background-color:#CCC;
}
#id_tem_form{
	float:left;
	min-width: 200px;
	width: 20vw;
	height: 30vh;
	margin-left: 10vw;
	margin-top: 10vh;
	background-color:#F93;
	border:solid #000 1px;
	border-radius: 5px;
	box-shadow:3px 3px 2px #FFF;
}
#id_hum_form{
	float:right;
	min-width: 200px;
	width: 20vw;
	height: 30vh;
	margin-right: 10vw;
	margin-top: 10vh;
	background-color:#F93;
	border:solid #000 1px;
	border-radius: 5px;
	box-shadow:3px 3px 2px #FFF;
}
#id_title_tem{
	height: 40px;
	text-align:center;
	padding-top: 12px;
	font-size:25px;
	font-style:oblique;
}
#id_title_hum{
	height: 40px;
	text-align:center;
	padding-top: 12px;
	font-size:25px;
	font-style:oblique;
}
#id_tem{
	height: 60px;
	text-align:center;
	padding-top: 3px;
	font-size:40px;
	font-style:oblique;
}
#id_hum{
	height: 60px;
	text-align:center;
	padding-top: 3px;
	font-size:40px;
	font-style:oblique;
}
#id_text_max_tem{
	display:inline;
	width: 50px;
}
.class_text_minmax{
	display:inline;
	width: 50px;
}
.class_btn_chart{
	float:right;
	margin-top: -20px;
	margin-right:10px;
	height: 30px;
}
#id_chart_tem{
	width: 40vw;
	height: 50px;
	background-color:#96F;
	text-align:center;
	margin-top:50vh;
}
#id_chart_hum{
	float:right;
	width: 40vw;
	height: 50px;
	background-color:#36F;
	text-align:center;
	margin-top:-50px;
	margin-right:6vw;
}

